
html, body, section {
    height: 100%;
  }

  body{
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
    /* text-transform: uppercase; */
    background-image: url(images/mainbackground.png);
  }

#main {
    display: flex;
    
}
/***************************************** LEFT SIDE STYLING *****************************************/

#left-container {
    flex: 0.2;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-right: 1.5px groove #c28e37;
    /* background-image: url(images/left_container_img.png); */
    background-color: #2f1f4b66;
}

#logo-container{
  height: 25%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  font-family: 'Pridi', serif;
  color: #c28e37;
  border-bottom: 1px groove #c28e37;

}

#logo-container > img{
  width: 55%;
  margin-top: 12px;
  
} 

#logo-container h1{
  margin: 0px;
  font-size: 28px;
}

#login-container {
    height: 20%;
    align-items: center;
    text-align: center;
}

#deck-container {
    height: 79%;
    display: flex;
    overflow: scroll;
    align-items: center;
    flex-direction: column;
}

.button, input[type=submit] {
    width: 170px;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    margin-top: 20px;
    font-weight: 600;
    border: 3px groove #f5d295;
    background-color: #f5d295;
    border-radius: 10px;
    color: #67409b;
    cursor: pointer;
    display: inline-block;
  }
  
  .button:hover, input[type=submit]:hover {
    background-color: #67409b;
    border: 3px groove #67409b;
    color: #f5d295;
    /* box-shadow: 0 0 10px 0 #7300d7 inset, 0 0 20px 2px #7300d7;
    border: 3px solid #3a016c; */
  }



#middle-container{
    height: 60%;
    
}

#bottom-container {
    height: 15%;
    text-align: center;
}


#right-container {
    flex: 1;
    background-image: url(images/mainbackground.png);
    overflow-y: scroll;
    padding: 1em;
    background-color: #CCC5B8;
}


/***************************************** RIGHT SIDE STYLING *****************************************/
.card-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
  grid-column-gap: 2.2rem;
  grid-row-gap: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: .5rem;
}

.flip-card {
  perspective: 1000px;
  background-color: transparent;
  border-radius: 5px; 
}

.flip-card-inner {
  border-radius: 5px;
  position: relative;
  width: 100%;
  height: 18.5em;
  text-align: center;
  transition: transform 0.7s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
  border-radius: 5px;
  background-color: #361264;
  background-size: contain;
  background-position-y: center;
  background-image: url(images/imageedit_12_5643738717.png);
  /* Text Stuff */
  display: flex;
  justify-content: center;
  align-items: center;
  color: #c28e37;
  font-size: 20px;
  letter-spacing: .1em;
  font-family: 'Pridi', serif;
}

.flip-card-back {
  background-color: #c28e37;
  color: #361264;
  border-radius: 5px;
  transform: rotateY(180deg);
  background-image: url(images/imageedit_12_5643738717.png);
  background-size: contain;
  background-position-y: center;
}

/***************************************** MODAL STYLING *****************************************/

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #faebd1;
  margin: 15% auto; /* 15% from the top and centered */
  border: 2px groove #674b8b;
  border-radius: 5px;
  width: 30%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #cfa04f;
  float: right;
  position: relative;
  top: -34px;
  padding-right: 5px;
  font-size: 28px;
  font-weight: bold;
  right: 4px;
}

.close:hover,
.close:focus {
  color: #361264;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  background-color: #674b8b;
  text-align: center;

}

.modal-header h2 {
  font-family: 'Pridi', serif;
  font-size: 20px;
  color: #cfa04f;
  margin: 0;
}

.new-item-form {
  font-family: 'Roboto', sans-serif;
  color: #674b8b;
  padding: 10px;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
}



input[type=text] {
  padding: 5px;
  width: 75%;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px groove #674b8b;
  font-family: 'Roboto', sans-serif;
  color: #361264;
  background-color: #f8dcac;
}

input[type=text]:focus {
  background-color: #eee3fc;
  outline: none;
}